* {
  all: unset;
}

@define-color foreground #cdd6f4;

menuitem {
  background: #1a1b1e;
}

menuitem label {
  padding: 8px 16px;
}

window#waybar {
  background: alpha(@background, 0.6);
  border-radius: 5px;
}

#window {
  padding: 0 8px;
  margin: 5px 4px;
  border-radius: 5px;
}

tooltip {
  background: alpha(@background, 0.8);
  border: 2px solid alpha(lighter(@background), 0.8);
  border-radius: 10px;
}

tooltip label {
  padding: 0 8px;
}

#bluetooth,
#tray {
  background: alpha(@foreground, 0.1);
  margin: 4px 0;
}

#tray {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

#bluetooth {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
