* {
  all: unset;
}

@define-color foreground #cdd6f4;

menuitem {
  background: @background;
  border-radius: 5px;
}

menuitem label {
  padding: 8px 16px;
}

window#waybar {
  background: alpha(@background, 0.6);
  border-radius: 5px;
}

#window {
  padding: 0 8px;
  margin: 5px 4px;
  border-radius: 5px;
}

tooltip {
  background: alpha(@background, 0.8);
  border: 2px solid alpha(lighter(@background), 0.8);
  border-radius: 10px;
}

tooltip label {
  padding: 0 8px;
}

#tray {
  background: alpha(@foreground, 0.1);
  padding: 10px;
  margin: 4px 0;
  border-radius: 5px;
}
